<% include partials/header %>
<body class="grey lighten-5">
<nav class="nav-extended">
    <div class="nav-wrapper">
        <a class="brand-logo center" href="/">Task List</a>
        <% if (!users){ %>
        <ul>
		    <li><a href="/login">Login</a></li>
		    <li><a href="/signup">Signup</a></li>
		</ul>
		<% } else{ %>
        <ul>
		    <li><a><%= users.name %></a></li>
		    <li><a href="/logout">Log Out</a></li>
		</ul>
		<% } %>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/login">Login</a></li>
	<li><a href="/signup">Signup</a></li>
</ul>
<br>
<div class="container landing">
	<div class="card">
		<div class="card-content">
          <span class="card-title">Welcome to the Task List app!</span>
		  <p><a href="/login">Log in</a> to see your tasks.</p>
		  <p><a href="/signup">Sign up</a> to get started!</p>
		</div>
	</div>
</div>
<% if (error.length > 0){ %>
<script>
M.toast({html: '<%= error %>', classes: 'red lighten-1'});
</script>
<% } %>
<% if (success.length > 0){ %>
<script>
M.toast({html: '<%= success %>', classes: 'green lighten-1'});
</script>
<% } %>
<script type="text/javascript" src="/javascripts/note-app.js"></script>
</body>
</html>