.landing {
	width: 75% !important;
	max-width: 500px !important;
	margin: 0 auto;
	font-size: 20px !important;
}

.note {
	padding: 15px 20px !important;
	font-size: 18px !important;
}

.note:nth-of-type(even){
	background-color: #E1E1E1 !important;
}

.card-title {
	font-size: 32px !important;
}

.edit {
	position: relative;
	display: none !important;
	box-shadow: none !important;
	top: -36px;
	height: 72.5px !important;
	left: 20px;
	border-radius: 0 !important;
	-webkit-transition: all .5s ! important;
	-webkit-animation-duration: .5s !important;
          animation-duration: .5s !important;
}

.close {
	position: relative;
	display: none !important;
	box-shadow: none !important;
	top: -36px;
	height: 72.5px !important;
	left: 20px;
	border-radius: 0 !important;
	-webkit-transition: all .5s !important;
	-webkit-animation-duration: .5s !important;
          animation-duration: .5s !important;
}

.delete_form {
	position: relative;
	top: -22.5px;
}

.date {
	font-size: 0.7rem !important;
	vertical-align: top !important;
	color: grey;
	margin-left: 0 !important;
}

.note:hover .close {
	display: inline !important;
	margin-bottom: -42.5px !important;
}

.note:hover .edit {
	display: inline !important;
	margin-bottom: -42.5px !important;
}

.late {
	color: #ef5350 !important;
}

.selected {
	background-color: #e0e0e0;
}

.name {
	margin-top: 0 !important;
}